/*Overall website font theme*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    scroll-behavior: smooth;
}

html{
    overflow-x: hidden;
}

body{
    background: #081b29;
    color:aliceblue;
}

/*Shooting Star Animation*/
#stars{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-size: cover;
    animation: animateBg 50s linear infinite;
}

@keyframes animateBg{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}

#star{
    
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
}
#star::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 0.5;
    }
    70%
    {
        opacity: 0.5;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
#star:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}
#star:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
#star:nth-child(3){
    top: 80;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
#star:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
#star:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
#star:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
#star:nth-child(7){
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
#star:nth-child(8){
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
#star:nth-child(9){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
#star:nth-child(9){
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}

/* Navigation Bar style */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    margin-top: -20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}


.logo {
    font-size: 30px;
    color: #ECFBFF;
    text-decoration: none;
    font-weight: 600;
}

.navigation {
    position: relative;
}

.navigation a {
    font-size: 20px;
    color: #ECFBFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.3s;
}

.navigation a:hover, .navigation a.active {
    color: #8EAFCE;
}

/* Home page style */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url("assets/forestBackground.png"); 
    background-size: cover;
    background-position: center;
}

.home-content {
    background: transparent;
    max-width: 600px;
}

.home-content h1 {
    font-size: 55px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 25px;
    font-weight: 700;
    color:#8EAFCE; 
}

.home-content p {
    font-size: 15px;
    margin: 20px 0 40px;
}

.home-content .button-flex-box {
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700px;
}

.home-content h3 span {
    color: #009EFF;
}

.button-flex-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

/* buttons hover animation */
.button-flex-box .button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background:#009EFF;
    border: 2px solid #009EFF;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color:#081b29;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s
}

.button-flex-box .button:hover{
    color:#009EFF;
}
.button-flex-box .button:nth-child(2) {
    background: transparent;
    color: #009EFF;
}

.button-flex-box .button:nth-child(2)::before {
    background:#009EFF;
}

.button-flex-box .button:nth-child(2):hover {
    color:#081b29;
}

.button-flex-box .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%; 
    background:#081b29;
    z-index: -2;
    transition: .5s
}

.button-flex-box .button:hover::before {
    width: 100%;
}

/*About page theme*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: #081b29;
}

.heading {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

.heading span {
    color: #009EFF;
}

.portrait {
    position: relative;
    width:250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait img {
    width: 90%;
    border-radius: 50%;
    border: 2px solid #009EFF;
}

/* spinning circle animation */
.portrait .circle-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left: 2px solid #081b29;
    border-right: 2px solid #081b29;
    border-top: 2px solid #009EFF;
    border-bottom: 2px solid #009EFF;
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;

}

.about-content h3 {
    font-size: 26px;
}

.about-content p {
    font-size: 16px;
    margin: 20px 0 30px;

}

.buttons{
    display: inline-block;
    width: 150px;
}

.button-flex-box .buttons a::before {
    background: #081b29;
}

/* Timelines style */
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 50px;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.education .education-col {
    flex: 1 1 40px;
}

.education-col .title {
    font-size: 25px;
    margin: 0 0 15px 20px;
}

.education-col .education-box {
    border-left: 2px solid #009EFF ;
}

.education-box .education-content {
    position: relative;
    padding-left: 20px;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left : -11px;
    width: 20px;
    height: 20px;
    background-color: #009EFF;
    border-radius: 50%;
}
.education-box .content {
    position: relative;
    padding: 15px;
    border: 2px solid #3e6b88;
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
}

/* hover animation */
.education-box .content::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 0%;
    height: 100%;
    background-color: #0a2e47;
    z-index: -1;
    transition: 0.5s;
}

.education-box .content:hover::before{
    width: 100%
}

.education-content .content .year {
    font-size: 15px;
    color: #009EFF;
    padding-bottom: 5px;
}

.education-content .content .year i {
    padding-right: 5px;
}

.education-content .content h3 {
    font-size: 20px;
}

.education-content .content p {
    font-size: 16px;
    padding-top: 5px;
}

/* Skill Page Settings */
.skills {
    min-height: auto;
    padding-bottom: 70px; 
    background: #081b29;
}

.skills .skill-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.skill-row .skill-col {
    flex: 1 1 400px;
}

.skill-col .title {
    font-size: 25px;
    margin: 0 0 15px;
}

.skill-box .skill-content {
    position: relative;
    border: 2px solid #009EFF;
    border-radius: 6px;
    padding: 5px 15px;
    z-index: 1;
    overflow: hidden;
}

/* hover animation */
.skill-box .skill-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background:#0a2e47 ;
    z-index: -1;
    transition: 0.5s;
}

.skill-box .skill-content:hover::before {
    width: 100%;

}
.skill-content .progress {
    padding: 10px 0;
}

.skill-content .progress h3 {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

.skill-content .progress .bar {
    height: 25px;
    border-radius: 6px;
    border: 2px solid #009EFF;
    padding: 5px;
    margin: 10px 0;
}

/* border for skill trees */
.skill-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 3px;
    background: #009EFF;
}

/* skill bar chart (length of each skill bar) */
.skill-col:nth-child(1) .skill-content .progress:nth-child(1) .bar span{
    width: 90%
}

.skill-col:nth-child(1) .skill-content .progress:nth-child(2) .bar span{
    width: 80%
}

.skill-col:nth-child(1) .skill-content .progress:nth-child(3) .bar span{
    width: 60%
}

.skill-col:nth-child(1) .skill-content .progress:nth-child(4) .bar span{
    width: 50%
}

.skill-col:nth-child(1) .skill-content .progress:nth-child(5) .bar span{
    width: 80%
}

.skill-col:nth-child(2) .skill-content .progress:nth-child(1) .bar span{
    width: 90%
}

.skill-col:nth-child(2) .skill-content .progress:nth-child(2) .bar span{
    width: 90%
}

.skill-col:nth-child(2) .skill-content .progress:nth-child(3) .bar span{
    width: 95%
}

.skill-col:nth-child(2) .skill-content .progress:nth-child(4) .bar span{
    width: 60%
}

.skill-col:nth-child(2) .skill-content .progress:nth-child(5) .bar span{
    width: 100%
}

/*Contact forms style*/
.contact {
    min-height: auto;
    padding-bottom: 70px;
}

.contact form {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: 8px 0;
}

/* border style */
.contact form .input-box .input-field input, textarea {
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 16px;
    color:aliceblue;
    background: transparent;
    border-radius: 6px;
    border: 2px solid #009EFF;
}

/* placeholder colors */
.contact form .input-box .input-field input::placeholder,
.contact form .text-area textarea::placeholder {
    color: aliceblue;
}

.contact form .text-area {
    position: relative;
    margin: 8px 0 27px;
    display: flex;
}

.contact form .text-area textarea{
    resize: none;
}

.contact form .button-flex-box .buttons .button {
    cursor: pointer;
}

/* hover animation */
.contact form .focus {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 0%;
    height: 100%;
    background: #0a2e47;
    border-radius: 6px;
    z-index: -1;
    transition: 0.5s;
}

.focus-large {
    position: absolute;
    top: 20px;
    left: 0px;
    bottom: 10px;
    width: 0%;
    height: 93%;
    background: #0a2e47;
    border-radius: 6px;
    z-index: -1;
    transition: 0.5s;
}


.box {
    display: flex;
    flex-direction: column;
}

.text-area {
    position: relative;
    display: flex; 
    flex-direction: column;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus, 
.contact form .text-area textarea:focus~.focus-large, 
.contact form .text-area textarea:valid~.focus-large{
    width: 100%
}

@keyframes aboutSpinner {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



/* resizing for phone web*/
@media only screen and (max-width: 1040px) {

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 780px) {
    .home-content h1 {
        font-size: 52px;
    }

    .education-row {
        display: flex;
        flex-direction: column;
    }
    
    .skills {
        display: flex;
        flex-direction: column;
    }
    .contact form .input-box .input-field {
        width: 100%;
    }
}

@media only screen and (max-width: 780px) {
    .home {
        justify-content: center;
    }
    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1 {
        font-size: 50px;
    }
}

